.pagelist {
  margin-left: 1em;
  font-size: 18px;
}
.pagelist ul li {
  padding-bottom: 10px;
  list-style-type: none;
}
.pagelist ul li a {
  padding-left: 12px;
}
.pagelist ul li .eraser{
  display: inline-block;
  position: relative;
  width: 1.6em;
  height: 0.5em;
  cursor: pointer;
}
.pagelist ul li .eraser::before,
.pagelist ul li .eraser::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 20px;
  background: #e33;
  border-radius: 2px;
}
.pagelist ul li .eraser::before {
  transform: translate(-50%,-50%) rotate(45deg);
}
 
.pagelist ul li .eraser::after {
  transform: translate(-50%,-50%) rotate(-45deg);
}